@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat:400,700,800');

.Experience-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 50px 30px 50px;
}

.Explanation {
    display: block;
    margin-left: 100px;
}

.Experience-block {
    display: flex;
    flex-direction: row;
    margin: 0 120px 30px 100px;
}

.Experience-title {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    color: #A1CEC7;
}

.Experience-date {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #F49E85;
}

/* .Experience-photo {
    width: 30%;
    height: 20%;
    border-radius: 38px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */