.About {
  display: block;
  padding: 80px 0 0 0;
  text-align: left;
}

.Headshot {
  display: inline-block;
  margin-left: 15%;
  width: 20%;
  border-radius: 12%;
  /* border: 3px white solid;
    box-shadow: 0 4px 8px 0 rgba(165, 109, 109, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.About-title {
  margin-top: 50px;
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 30px;
  color: #f49e85;
}

.Personal-intro {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 40%;
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 18px;
  color: black;
}
