@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat:800');

.Header-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.Header-link {
    font-family: 'Montserrat', sans-serif;
    padding: 17px;
    font-size: 15px;
    color: #8bb1b6;
    /* color: rgb(255, 103, 103); */
    /* color: #A1CEC7; */
    text-decoration: none;
}

.Header-link:hover {
    -webkit-text-stroke:  #0085b6 1px;
}

.NavLink {
    font-family: 'Montserrat', sans-serif;
    padding: 26px 40px;
    font-size: 13px;
    color: #A1CEC7;
    text-decoration: none;
}

